# Must match the values found in the corresponding production or sandbox environment
SQUARE_APPLICATION_ID=sandbox-sq0idb-HWFEGvK6KS4wQXlkCTbKBQ
SQUARE_ACCESS_TOKEN=EAAAENBnr-PQ6osIq-27TwrGuqNp6R876wqujRH7nn3CqqiZFkGpCuUCijvQYNGF
SQUARE_LOCATION_ID=L3SMTT9VEN0XH
